<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>MembersOnly</h1>
    <form action="" method="POST">
      <label for="password">Enter Admin Password</label>
      <input id="password" name="password" type="password" value="admin">
      <button type="submit">Admin Log In</button>
    </form>
    <p class="invalid"><%= message %></p>
  </body>
</html>