<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>MembersOnly</h1>
    <p>Create an account to enter</p>
    <form action="" method="POST">
      <label for="username">Username</label>
      <input id="username" name="username" type="text">
      <label for="password">Password</label>
      <input id="password" name="password" type="password">
      <label for="confirm">Confirm Password</label>
      <input id="confirm" name="confirm" type="password">
      <button type="submit">Register</button>
    </form>
    <p>Already registered?</p>
    <a href="/log-in">Log-In</a>
  </body>
</html>
