<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="new-message">
    <h1><a href="/" class="home">MembersOnly</a></h1>
    <form action="" method="post">
      <label for="title">Title</label>
      <input name="title" id="title" type="text" autofocus />
      <input name="author" value=<%= user %> hidden />
      <label for="body">Message</label>
      <textarea rows=10 name="body" id="body" type="text" ></textarea>
      <button type="submit">Add Message</button>
    </form>
    <% if ( errors[0] ) { %>
      <% for (const error of errors) { %>
        <p class="invalid"><%= error %></p>
        <% } %>
    <% } %>
  </body>
</html>