<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>MembersOnly</h1>
    <p>New Message</p>
    <form action="" method="post">
      <label for="title">Title</label>
      <input name="title" id="title" type="text" />
      <input name="author" value=<%= user %> hidden />
      <label for="body">Message</label>
      <input name="body" id="body" type="text" />
      <button type="submit">Add Message</button>
    </form>
    <% if ( errors[0] ) { %>
      <% for (const error of errors) { %>
        <p class="invalid"><%= error %></p>
        <% } %>
    <% } %>
  </body>
</html>